html {
    height: 100%;
}

body:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('http://33.media.tumblr.com/1f374b0fa3efe44dd75b2713a4e5d594/tumblr_n35g1fbaGQ1twkrf5o1_500.gif');
    width: 1440px;
    height: 800px;
    display: compact;
    background-attachment: fixed;

    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
}

body {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

.content {
    padding:10px;
    height: 95%;
}

.footer {
    width:10%;
    height:10px;
    float: right;
    bottom:0;
    left:0;
}

.well {
    max-height: 300px;
    overflow: scroll;
}